h1 {
  color: #2c3e50;
}

.line {
  height: 4px;
  width: 80px;
  background-color: #2c3e50;
}

button {
  background-color: #1abc9c;
  width: 10%;
}

label {
  opacity: 0;
  color: #1abc9c;
  transition: opacity 0.3s;
}

label.d-none {
  opacity: 0;
}

label:not(.d-none) {
  opacity: 1;
}
